<div class="modal fade modal-lg" id="modal-edit-student-{{ student[0] }}" tabindex="-1" aria-labelledby="modal-edit-student-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modal-edit-student-label">Edit Student</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('student.edit_student', id=student[0]) }}" method="POST">
                    {{ form.hidden_tag() }}
                    <label for="id_number" class="form-label">Editing Student: {{ student[0] }} </label>
                    <input type="hidden" name="id_number_year" value="{{ form.id_number_year.data }}">
                    <input type="hidden" name="id_number_unique" value="{{ form.id_number_unique.data }}">
                    <div class="mb-3">
                        {{ form.first_name.label }}
                        {{ form.first_name(class="form-control", value=student[1]) }}
                    </div>
                    <div class="mb-3">
                        {{ form.last_name.label }}
                        {{ form.last_name(class="form-control", value=student[2]) }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Gender</label>
                        <div class="d-flex justify-content-center align-items-center">
                            {% for choice in form.gender %}
                                <div class="form-check me-3">
                                    {{ choice() }}
                                    <label class="form-check-label">{{ choice.label }}</label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text">Program</label>
                            </div>
                            {{ form.program(class="form-select", value=student[4]) }}
                        </div>
                        <div class="col">
                            {{ form.year_level.label }}
                            {{ form.year_level(class="form-control", value=student[5] ) }}
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
