<div class="modal fade modal-lg" id="modal-add-student" tabindex="-1" aria-labelledby="modal-add-student-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modal-add-student-label">Add Student</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('student.add_student') }}" enctype="multipart/form-data" method="POST">
                    {{ form.hidden_tag() }}
                    <div class="mb-3 row">
                        <label for="id_number_year" class="form-label">ID Number</label>
                        <div class="col">
                            {{ form.id_number_year(class="form-control", placeholder="Year (e.g., 2022)") }}
                        </div>
                        <span class="col-auto">-</span>
                        <div class="col">
                            {{ form.id_number_unique(class="form-control", placeholder="Unique Number (e.g., 0001)") }}
                        </div>
                    </div>
                

                    <div class="mb-3">
                        {{ form.first_name.label }}
                        {{ form.first_name(class="form-control", placeholder="Enter first name") }}
                    </div>
                    <div class="mb-3">
                        {{ form.last_name.label }}
                        {{ form.last_name(class="form-control", placeholder="Enter last name") }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Gender</label>
                        <div class="d-flex justify-content-center align-items-center">
                            {% for choice in form.gender %}
                                <div class="form-check me-3">
                                    {{ choice() }}
                                    <label class="form-check-label">{{ choice.label }}</label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text">Program</label>
                            </div>
                            {{ form.program(class="form-select") }}
                        </div>
                        <div class="col">
                            {{ form.year_level.label }}
                            {{ form.year_level(class="form-control", placeholder="Year Level (1-4)", min=1, max=4) }}
                        </div>
                    </div>

                    <div class="mb-3">
                        {{ form.student_image.label }} {{ form.student_image(class="form-control") }}
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add Student</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
