{% extends "base.html" %}
{% block title %}Student Information System{% endblock %}
{% block nav %}
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('student.student_page') }}"">Students</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Colleges</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Programs</a>
          </li>
        </ul>
        <button type="button" class="btn btn-outline-danger ms-auto">Log Out</button>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center mb-4">
        <div class="col-md-10 text-center mt-4">
            <h2 class="table-title mb-4">Student List</h2>
            <div class="d-flex justify-content-between align-items-center">
              
                <form class="form-inline d-flex" role="search">
                  <div class="dropdown me-2">
                    <button class="btn btn-secondary dropdown-toggle h-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Search by...
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">ID Number</a></li>
                      <li><a class="dropdown-item" href="#">Name</a></li>
                      <li><a class="dropdown-item" href="#">College</a></li>
                    </ul>
                  </div>
                    <input class="form-control form-control-lg me-2" type="search" placeholder="Search" aria-label="Search" style="width: 300px;">
                    <button class="btn btn-secondary btn-lg" type="submit">Search</button>
                </form>
                
                
                <button type="button" class="btn btn-success btn-lg" data-bs-toggle="modal" data-bs-target="#modal-add-student">
                  Add Student
              </button>
              
              <!-- Update modal form in student.html -->
                <div class="modal fade modal-lg" id="modal-add-student" tabindex="-1" aria-labelledby="modal-add-student-label" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="modal-add-student-label">Add Student</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="{{ url_for('student.add_student') }}" method="POST">
                                    {{ form.hidden_tag() }}
                                    
                                    <div class="mb-3 row">
                                        <label for="id_number_year" class="form-label">ID Number</label>
                                        <div class="col">
                                            {{ form.id_number_year(class="form-control", placeholder="Year (e.g., 2022)") }}
                                        </div>
                                        <span class="col-auto">-</span>
                                        <div class="col">
                                            {{ form.id_number_unique(class="form-control", placeholder="Unique Number (e.g., 0001)") }}
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        {{ form.first_name.label }}
                                        {{ form.first_name(class="form-control", placeholder="Enter first name") }}
                                    </div>
                                    <div class="mb-3">
                                        {{ form.last_name.label }}
                                        {{ form.last_name(class="form-control", placeholder="Enter last name") }}
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label">Gender</label>
                                        <div class="d-flex justify-content-center align-items-center">
                                            {% for choice in form.gender %}
                                                <div class="form-check me-3">
                                                    {{ choice() }}
                                                    <label class="form-check-label">{{ choice.label }}</label>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <div class="mb-3 row">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text">Program</label>
                                            </div>
                                            {{ form.program(class="form-select") }}
                                        </div>
                                        <div class="col">
                                            {{ form.year_level.label }}
                                            {{ form.year_level(class="form-control", placeholder="Year Level (1-4)", min=1, max=4) }}
                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Add Student</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

              
              
                
                

            </div>
        </div>
    </div>
    
    
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <table class="table text-center mx-auto">
                <thead>
                    <tr>
                        <th>ID Number</th>
                        <th>Name</th>
                        <th>Gender</th>
                        <th>Course</th>
                        <th>Year</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in students %}
                    <tr>
                        <td name="id_number">{{ student[0] }}</td>
                        <td>{{ student[1] }} {{ student[2] }}</td>
                        <td>{{ student[3] }}</td>
                        <td>{{ student[4] }}</td>
                        <td>{{ student[5] }}</td>
                        <td>
                            <a href="" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit">Edit</a>
                            <a href="" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure you want to delete {{student[0]}} student?')">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
</div>
{% endblock %}
