{% extends "base.html" %}
{% block title %}Student Information System{% endblock %}
{% block nav %}
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('student.student_page') }}">Students</a>
          </li>
          <li class="nav-item"></li>
            <a class="nav-link" href="{{ url_for('program.program_page') }}">Programs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('college.college_page') }}">Colleges</a>
          </li>
        </ul>
        <button type="button" class="btn btn-outline-danger ms-auto">Log Out</button>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center mb-4">
        <div class="col-md-10 text-center mt-4">
            <h2 class="table-title mb-4">College List</h2>
            <div class="d-flex justify-content-between align-items-center">

                <form class="form-inline d-flex" role="search" method="GET" action="{{ url_for('college.college_page') }}">
                    <div class="dropdown me-2">
                        <button class="btn btn-secondary dropdown-toggle h-100" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="searchButton">
                            {% if request.args.get('search_by') %} 
                                {{ request.args.get('search_by') }} 
                            {% else %} 
                                Search by...
                            {% endif %}
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#" onclick="setSearchBy('College Code', this)">College Code</a></li>
                            <li><a class="dropdown-item" href="#" onclick="setSearchBy('College Name', this)">College Name</a></li>
                        </ul>
                        <input type="hidden" name="search_by" id="search_by" value="{{ request.args.get('search_by', 'College Code') }}"> <!-- Default search_by value -->
                    </div>
                    <input class="form-control form-control-lg me-2" type="search" name="search" placeholder="Search" aria-label="Search" style="width: 300px;" value="{{ request.args.get('search', '') }}">
                    <button class="btn btn-secondary btn-lg" type="submit">Search</button>
                </form>
                
                
                <button type="button" class="btn btn-success btn-lg" data-bs-toggle="modal" data-bs-target="#modal-add-college">
                  Add College
                </button> 

                {% include 'modal_add_college.html' %}
                
            </div>
        </div>
    </div>
    
    
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <table class="table text-center mx-auto">
                <thead>
                    <tr>
                        <th>College Code</th>
                        <th>College Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    {% if form.college_code.errors %}
                        <div class="text-danger mb-3">
                        {{ form.college_code.errors[0] }}
                        </div>
                    {% endif %}
                    {% if form.college_name.errors %}
                        <div class="text-danger mb-3">
                        {{ form.college_name.errors[0] }}
                        </div>
                    {% endif %}
                    {% if colleges|length == 0 %}
                      <tr>
                          <td colspan="6" class="text-center">College not found</td>
                      </tr>
                    {% else %}
                        {% for college in colleges %}
                        <tr>
                            <td>{{ college[0] }}</td>
                            <td>{{ college[1] }}</td>
                            <td>
                                <a href="" class="btn btn-warning btn-xs" data-bs-toggle="modal" data-bs-target="#modal-edit-college-{{ college[0] }}"><i class="bi bi-pencil"></i></a>
                                <!-- Delete Form -->
                                <form action="{{ url_for('college.delete_college_route', code=college[0]) }}" method="POST" style="display:inline;">
                                    {{ form.hidden_tag() }} <!-- CSRF Token for protection -->
                                    <button type="submit" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure you want to delete {{college[1]}}?')"><i class="bi bi-trash"></i></button>
                                </form>
                            </td>
                        </tr>
                        {% include 'modal_edit_college.html' %}
                        {% endfor %}
                    {% endif %}
                </tbody>

            </table>
        </div>
    </div>
</div>

<script>
    function setSearchBy(value, element) {
        document.getElementById('search_by').value = value;
        document.getElementById('searchButton').textContent = value; // Update the button text
    }
</script>

{% endblock %}
