<div class="modal fade modal-lg" id="modal-add-program" tabindex="-1" aria-labelledby="modal-add-college-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modal-add-program-label">Add Program</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('program.add_program_route') }}" method="POST">
                    {{ form.hidden_tag() }}
                    <div class="mb-3">
                        {{ form.program_code.label }}
                        {{ form.program_code(class="form-control", placeholder="Enter Program Code") }}
                    </div>
                    <div class="mb-3">
                        {{ form.program_name.label }}
                        {{ form.program_name(class="form-control", placeholder="Enter Program Name") }}
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text">College</label>
                        </div>
                        {{ form.college_code(class="form-select") }}
                    </div>
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add Program</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
